@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* globals.css */
.neomorphic-btn {
  background-color: #e0e0e0; /* Darker shade for better contrast */
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 8px 8px 15px #a7a7a7, /* Adjusted for more depth */
              -8px -8px 15px #ffffff;
  transition: all 0.3s ease;
}

.neomorphic-btn:hover {
  background-color: #d1d1d1; /* Slightly darker on hover for depth */
  box-shadow: 0px 0px 15px #a7a7a7, /* Subtler shadow on hover */
              0px 0px 15px #ffffff;
  transform: translateY(-5px); /* Lift effect on hover */
  animation: hue-rotate 1s infinite linear;
}

@keyframes hue-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}
